feedbin.domain.tld {
  gzip
  proxy / http://feedbin-web:3000 {
    transparent
  }
}

camo.feedbin.domain.tld {
  gzip
  proxy / http://feedbin-camo:8081 {
    transparent
  }
}

minio.feedbin.domain.tld {
  gzip
  proxy / http://feedbin-minio:9000 {
    transparent
  }
}

extract.feedbin.domain.tld {
  gzip
  proxy / http://feedbin-extract:3000 {
    transparent
  }
}
